*{
    margin: 0;
    padding: 0;

}
h1{
    margin: 40px 0 40px 0;

    color: black;
}

body {
    background-color: white;
}
.box, form{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 250px;
    height: 25px;
    border-radius: 10px;
    padding: 0 15px 0 15px;
}

button {
    width: 150px;
    height: 25px;
}

.mensagem {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.mensagem.sucesso {
    background-color: #d4edda;
    color: #155724;
}

.mensagem.erro {
    background-color: #f8d7da;
    color: #721c24;
}